body, html{
    height: 100%;
    min-height: 100vh;
    background-color:rgb(216, 255, 249);
    background-image: linear-gradient(to bottom, rgb(255, 248, 216), rgb(134, 255, 249));
}

.bg{
    background-image: url("images/website\ background\ pink.png");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.IMG1{
    height: 300px;
    width: 100%;
}

nav{
  border: solid;
    background-color: rgb(31, 187, 174);
    margin-top: 1%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ol{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#NavTitle{
    padding: 0 0 0 10px;
    margin: 10px 0 0 0;
    color: aliceblue;
}
a{
    padding-top: 12px;
    color: black;
    text-decoration: none;
}
a:hover{
    color: white;
    transition: 0.3s; 
}
.MainTitle{
    border: 2px solid;
    border-radius: 0px 20px 0px 20px;
    padding: 5px;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    font-family: "Science Gothic", sans-serif;
  font-optical-sizing: auto;

}

h2, p{
    text-align: center;
}

h2{
     font-family: "Science Gothic", sans-serif;
  font-optical-sizing: auto;
}

