body, html{
    height: max-content;
    width: 100%;
    min-height: 100vh;
    background-color:rgb(216, 255, 249);
    background-image: linear-gradient(to bottom, rgb(248, 255, 255), rgb(247, 154, 255));
}

.bg{
    background-image: url("images/website\ background\ pink.png");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.IMG1{
    height: 300px;
    width: 100%;
}

nav{
    border: solid;
    background-color: rgb(187, 93, 196);
    margin-top: 1%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#NavTitle{
    padding: 0 0 0 10px;
    margin: 10px 0 0 0;
    color: aliceblue;
}
a{
    padding-top: 12px;
    color: black;
    text-decoration: none;
    font-family: "Science Gothic", sans-serif;
  font-optical-sizing: auto;
}
a:hover{
    color: white;
    transition: 0.3s; 
}
.MainTitle{
    border: 2px solid;
    border-radius: 0px 20px 0px 20px;
    padding: 5px;
    width: 55%;
    text-align: center;
    margin-left: 25%;
    font-family: "Science Gothic", sans-serif;
  font-optical-sizing: auto;

}

.Table1{
    
    font-size: 30px;
    background-color: black;
    color: azure;
}

.Table2{
    
    font-size: 20px;
    color: azure;
    background-color: rgb(202, 4, 202);
}

h2{
     font-family: "Science Gothic", sans-serif;
  font-optical-sizing: auto;
}

table{
    margin-top: 3%;
    margin-left: 25%;
    margin-bottom: 100px;
}

.contactInfo{
    text-align: center;
}