body, html{
    height: 100%;
    background-color:mintcream;
 
}

.bg{
    background-image: url("images/website\ background\ pink.png");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.IMG1{
    height: 300px;
    width: 100%;
}

nav{
    border: solid;
    background-color: rgb(255, 190, 255);
    margin-top: 1%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#NavTitle{
    padding: 0 0 0 10px;
    margin: 10px 0 0 0;
    color: aliceblue;
}

a{
    padding-top: 12px;
    color: black;
    text-decoration: none;
}
