body, html{
    height: max-content;
    width: 100%;
    background-color:rgb(216, 255, 249);
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgb(221, 255, 253), rgb(255, 164, 232));
 
}

.bg{
    background-image: url("images/website\ background\ pink.png");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.IMG1{
    height: 300px;
    width: 100%;
    object-fit: cover;
}

nav{
    border: solid;
    background-color: rgb(231, 129, 218);
    margin-top: 1%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#NavTitle{
    padding: 0 0 0 10px;
    margin: 10px 0 0 0;
    color: aliceblue;
}

h2{
 font-family: "Science Gothic", sans-serif;
  font-optical-sizing: auto;
}

h3,h2{
    text-align: center;
}

#para1{
    text-align: center;
}

#imglinks{
    border-radius: 90px 0 90px 0;
    background-color: azure;
    border: solid black;
    flex-direction: row;
    justify-items: center;
}


.aboutimg{
    justify-content: space-around;
    border-radius: 60px;
    border: solid 8px rgb(224, 91, 200);
    margin-left: 20%;
    
   
    height: 100px;
    width: 100px;
  
}

a{
    padding-top: 12px;
    color: black;
    text-decoration: none;
}

a:hover{
    color: white;
    transition: 0.3s; 
}


.MainTitle{
    border: 2px solid;
    border-radius: 0px 20px 0px 20px;
    padding: 5px;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    font-family: "Science Gothic", sans-serif;
  font-optical-sizing: auto;
   

}

#GRIDS{
    display: flex;
    flex-direction: row;
}

.p2{

    border: solid;
    margin: 10px;
    text-align: center;
    background-image: linear-gradient(to bottom, rgb(221, 255, 253), rgb(255, 164, 232));
}