body, html{
    height: 100%;
    background-color:rgb(216, 255, 249);
    background-image: linear-gradient(to bottom, rgb(221, 255, 253), rgb(255, 164, 232));
 
}

.bg{
    background-image: url("images/website\ background\ pink.png");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.IMG1{
    height: 300px;
    width: 100%;
}

nav{
    border: solid;
    background-color: rgb(231, 129, 218);
    margin-top: 1%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#NavTitle{
    padding: 0 0 0 10px;
    margin: 10px 0 0 0;
    color: aliceblue;
}

a{
    
    padding-top: 12px;
    color: black;
    text-decoration: none;
}

a:hover{
    color: white;
    transition: 0.3s; 
}
